In [1]:
import pandas as pd

d_state = {'rajasthan': 0, 'madhya pradesh': 1, 'maharashtra': 2, 'jammu & kashmir': 3, 'uttar pradesh': 4, 'andhra pradesh': 5, 'gujarat': 6, 'karnataka': 7, 'orissa': 8, 'chhattisgarh': 9, 'tamil nadu': 10, 'bihar': 11, 'arunachal pradesh': 12, 'assam': 13, 'jharkhand': 14, 'west bengal': 15, 'himachal pradesh': 16, 'uttarakhand': 17, 'punjab': 18, 'haryana': 19, 'kerala': 20, 'manipur': 21, 'meghalaya': 22, 'mizoram': 23, 'nagaland': 24, 'tripura': 25, 'sikkim': 26, 'goa': 27, 'delhi': 28}

database = pd.read_csv('year_2017_individual_record.csv')
database = database.iloc[:,1:]
database

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,2017,228.7,5.6,33.0,108.3,275.8,349.1,389.4,414.7,372.8,263.0,205.9,243.7,2890.0,234.2,417.1,1526.0,712.6
1,Arunachal Pradesh,2017,8.2,86.2,221.8,348.2,257.1,370.8,437.8,456.4,318.6,227.1,9.9,3.4,2745.3,94.4,827.0,1583.5,240.3
2,Assam & Meghalaya,2017,1.7,37.8,116.7,310.9,268.4,485.2,429.0,483.1,345.4,212.1,10.3,11.0,2711.7,39.5,695.9,1742.7,233.5
3,Naga Mani Mizo Tripura,2017,0.8,11.9,125.3,277.6,196.7,502.7,431.5,543.3,352.2,287.6,7.6,68.1,2805.4,12.7,599.7,1829.8,363.3
4,Sub Himalayan West Bengal & Sikkim,2017,3.0,5.1,84.6,146.8,226.8,400.6,478.6,777.9,390.1,166.5,3.8,1.0,2684.9,8.1,458.2,2047.3,171.3
5,Gangetic West Bengal,2017,1.4,0.0,35.2,25.8,106.3,193.7,489.3,264.5,191.4,225.2,21.9,14.0,1568.6,1.4,167.3,1138.9,261.1
6,Orissa,2017,1.7,0.0,29.8,8.7,55.2,209.5,349.7,301.7,192.2,161.1,30.0,4.8,1344.5,1.7,93.8,1053.1,195.9
7,Jharkhand,2017,5.1,0.1,4.5,6.1,55.9,116.0,492.1,246.0,134.0,103.4,2.3,0.2,1165.8,5.2,66.6,988.2,105.9
8,Bihar,2017,0.7,0.0,22.8,21.8,79.7,84.6,379.9,342.8,129.6,50.1,0.0,0.0,1112.0,0.7,124.3,936.8,50.2
9,East Uttar Pradesh,2017,9.7,0.1,4.3,2.0,25.8,50.8,328.9,185.1,85.2,3.0,0.0,0.0,695.0,9.8,32.2,650.0,3.0
10,West Uttar Pradesh,2017,22.0,1.1,8.5,1.4,13.5,85.1,181.0,129.8,140.7,0.6,0.0,1.6,585.2,23.1,23.4,536.5,2.2
11,Uttarakhand,2017,36.6,13.5,44.5,52.8,108.2,175.6,460.9,349.0,213.4,2.8,0.2,18.3,1476.0,50.1,205.6,1199.0,21.3
12,Haryana Delhi & Chandigarh,2017,34.2,0.3,7.2,4.3,10.3,121.2,69.2,76.5,92.5,0.0,1.8,4.2,421.6,34.5,21.8,359.4,6.0
13,Punjab,2017,42.4,3.0,14.5,12.3,12.3,110.8,94.4,122.2,62.7,0.0,5.2,17.7,497.5,45.5,39.1,390.1,22.9
14,Himachal Pradesh,2017,157.6,46.3,57.4,88.0,62.0,123.1,216.1,273.1,103.4,0.3,6.9,48.0,1182.2,204.0,207.3,715.7,55.2
15,Jammu & Kashmir,2017,255.5,106.4,85.0,156.7,38.5,158.5,180.7,161.4,43.3,0.3,11.3,81.5,1278.9,361.8,280.1,543.9,93.1
16,West Rajasthan,2017,6.0,0.3,4.2,3.3,26.1,81.9,219.7,43.1,21.2,0.0,0.6,1.8,408.3,6.3,33.6,365.9,2.4
17,East Rajasthan,2017,8.4,0.0,5.5,0.7,15.1,89.9,293.3,137.3,46.4,0.0,0.4,3.4,600.3,8.4,21.3,566.9,3.8
18,West Madhya Pradesh,2017,4.6,1.9,1.5,0.2,6.9,120.0,292.8,173.7,151.4,13.5,0.4,2.0,769.0,6.5,8.5,738.0,16.0
19,East Madhya Pradesh,2017,4.6,6.7,2.0,0.0,11.4,119.0,353.8,179.1,144.0,18.8,0.7,0.0,840.1,11.3,13.4,795.8,19.5
20,Gujarat Region,2017,0.0,0.0,0.0,0.0,0.2,137.7,613.1,179.7,67.2,15.5,0.0,11.0,1024.4,0.0,0.2,997.7,26.6
21,Saurashtra & Kutch,2017,0.1,0.0,0.0,0.0,0.1,81.8,368.6,153.5,41.8,4.8,0.0,1.3,652.1,0.1,0.1,645.8,6.1
22,Konkan & Goa,2017,0.0,0.0,0.0,0.0,47.0,840.4,1095.3,731.2,546.9,156.9,0.7,25.0,3443.4,0.0,47.0,3213.8,182.6
23,Madhya Maharashtra,2017,0.0,0.0,0.4,0.8,18.0,189.2,280.9,192.0,190.1,112.8,5.0,5.1,994.4,0.0,19.2,852.3,122.9
24,Matathwada,2017,0.0,0.0,4.7,0.0,3.3,182.3,82.5,230.4,146.9,100.4,2.4,2.7,755.6,0.0,8.1,642.1,105.4
25,Vidarbha,2017,0.2,0.0,6.1,0.0,7.3,147.8,252.2,198.3,133.3,57.5,0.3,0.0,803.0,0.2,13.4,731.5,57.9
26,Chhattisgarh,2017,0.9,0.7,3.5,0.8,15.6,184.8,378.3,300.4,177.7,61.6,0.2,0.0,1124.4,1.6,19.8,1041.2,61.8
27,Coastal Andhra Pradesh,2017,1.0,0.0,12.4,8.8,30.8,149.6,153.2,224.2,141.8,123.0,46.7,1.2,892.7,1.0,52.0,668.8,170.9
28,Telangana,2017,0.0,0.0,8.7,3.2,22.4,202.2,143.2,204.2,115.3,114.6,1.9,0.0,815.7,0.0,34.3,664.9,116.4
29,Rayalseema,2017,3.9,0.0,12.8,8.8,39.9,88.9,52.2,171.6,194.6,221.1,33.3,7.4,834.5,3.9,61.5,507.2,261.8
30,Tamil Nadu,2017,37.3,1.1,35.4,17.3,73.5,47.9,42.0,159.4,165.3,155.5,141.5,96.8,973.0,38.4,126.1,414.6,393.9
31,Coastal Karnataka,2017,1.1,0.0,2.5,9.5,129.0,831.4,820.1,625.2,316.5,185.7,19.4,7.2,2947.6,1.1,141.0,2593.2,212.3
32,North Interior Karnataka,2017,0.0,0.0,10.7,9.9,44.8,131.3,76.8,105.8,206.6,147.9,4.9,0.9,739.6,0.0,65.5,520.5,153.7
33,South Interior Karnataka,2017,5.0,0.0,16.8,34.1,140.9,107.6,125.9,181.4,250.3,178.3,13.8,7.7,1061.7,5.0,191.8,665.2,199.8
34,Kerala,2017,12.7,0.3,87.8,52.8,213.3,579.8,378.5,462.6,435.5,228.0,152.1,61.4,2664.9,13.0,353.9,1856.5,441.5
35,Lakshadweep,2017,21.3,0.9,100.2,1.8,145.7,521.9,164.2,206.2,216.0,137.1,63.5,160.1,1738.9,22.2,247.8,1108.3,360.7

In [2]:
def remove_state_phase_one(value) :
    if value.lower() in d_state.keys():
        return 0
    else :
        if '&' in value :
            return 1
        return 2
database['correction'] = database.SUBDIVISION.apply(remove_state_phase_one)
database_correction = database[database.correction == 1]
# database_correction

In [3]:
def implementation_of_phase_one(value):
    val = value.split("&")
    return val[0]

def implementation_of_phase_one_2(value):
    val = value.split("&")
    return val[1]

database_2 = database_correction.copy()
database_correction.SUBDIVISION = database_correction.SUBDIVISION.apply(implementation_of_phase_one)
database_2.SUBDIVISION = database_2.SUBDIVISION.apply(implementation_of_phase_one_2)
database_correction = database_correction.append(database_2)
database = database[database.correction != 1]
database = database.append(database_correction).copy()
database.reset_index(drop=True,inplace=True)
# database

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [4]:
l = ['West', 'East', 'North ', 'South', 'Gangetic', 'Region', 'Coastal', 'Sub Himalayan', 'Interior']
def remove_unwanted_words(value) :
    for c_word in l:
        if c_word in value:
            value = value.replace(c_word,"")
            print("found",c_word,value)
    return value.strip()

database.SUBDIVISION = database.SUBDIVISION.apply(remove_unwanted_words)

def remove_state_phase_two(value) :
    if value.lower() in d_state.keys():
        return 0
    else :
        if ' ' in value :
            return 1
        return 3
database['correction'] = database.SUBDIVISION.apply(remove_state_phase_two)
database_correction = database[database.correction == 1]

found West Gangetic  Bengal
found Gangetic   Bengal
found East  Uttar Pradesh
found West  Uttar Pradesh
found West  Rajasthan
found East  Rajasthan
found West  Madhya Pradesh
found East  Madhya Pradesh
found Region Gujarat
found Coastal  Andhra Pradesh
found Coastal  Karnataka
found North  Interior Karnataka
found Interior  Karnataka
found South  Interior Karnataka
found Interior   Karnataka
found West Sub Himalayan  Bengal
found Sub Himalayan   Bengal

In [5]:
label_s = database_correction.SUBDIVISION
split_able = {}
for s in label_s:
    in_s = s.split(" ")
    for s_v in in_s:
        if s_v.strip().lower() in d_state.keys():
            if s in split_able.keys():
                split_able[s] += [s_v] 
            else :
                split_able[s] = [s_v]
new_data = pd.DataFrame()
for i in split_able.keys() :
    d = database_correction[database_correction.SUBDIVISION == i]
    for v in split_able[i] :
        d.SUBDIVISION = v
        d.correction = 0
        new_data = new_data.append(d, ignore_index=True).copy()
new_data

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND,correction
0,Tripura,2017,0.8,11.9,125.3,277.6,196.7,502.7,431.5,543.3,352.2,287.6,7.6,68.1,2805.4,12.7,599.7,1829.8,363.3,0
1,Maharashtra,2017,0.0,0.0,0.4,0.8,18.0,189.2,280.9,192.0,190.1,112.8,5.0,5.1,994.4,0.0,19.2,852.3,122.9,0
2,Haryana,2017,34.2,0.3,7.2,4.3,10.3,121.2,69.2,76.5,92.5,0.0,1.8,4.2,421.6,34.5,21.8,359.4,6.0,0
3,Delhi,2017,34.2,0.3,7.2,4.3,10.3,121.2,69.2,76.5,92.5,0.0,1.8,4.2,421.6,34.5,21.8,359.4,6.0,0

In [6]:
database = database[database.correction != 1]
database = database.append(new_data).copy()

In [7]:
database.reset_index(drop=True, inplace=True)
database = database.groupby('SUBDIVISION', as_index=False).mean().copy()
database.reset_index(drop=True, inplace=True)
database

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND,correction
0,Andaman,2017,228.700000,5.60,33.00,108.300000,275.80,349.100000,389.400000,414.700000,372.80,263.000000,205.90,243.700000,2890.000000,234.200000,417.100000,1526.000000,712.60,3
1,Andhra Pradesh,2017,1.000000,0.00,12.40,8.800000,30.80,149.600000,153.200000,224.200000,141.80,123.000000,46.70,1.200000,892.700000,1.000000,52.000000,668.800000,170.90,0
2,Arunachal Pradesh,2017,8.200000,86.20,221.80,348.200000,257.10,370.800000,437.800000,456.400000,318.60,227.100000,9.90,3.400000,2745.300000,94.400000,827.000000,1583.500000,240.30,0
3,Assam,2017,1.700000,37.80,116.70,310.900000,268.40,485.200000,429.000000,483.100000,345.40,212.100000,10.30,11.000000,2711.700000,39.500000,695.900000,1742.700000,233.50,0
4,Bengal,2017,2.200000,2.55,59.90,86.300000,166.55,297.150000,483.950000,521.200000,290.75,195.850000,12.85,7.500000,2126.750000,4.750000,312.750000,1593.100000,216.20,3
5,Bihar,2017,0.700000,0.00,22.80,21.800000,79.70,84.600000,379.900000,342.800000,129.60,50.100000,0.00,0.000000,1112.000000,0.700000,124.300000,936.800000,50.20,0
6,Chandigarh,2017,34.200000,0.30,7.20,4.300000,10.30,121.200000,69.200000,76.500000,92.50,0.000000,1.80,4.200000,421.600000,34.500000,21.800000,359.400000,6.00,3
7,Chhattisgarh,2017,0.900000,0.70,3.50,0.800000,15.60,184.800000,378.300000,300.400000,177.70,61.600000,0.20,0.000000,1124.400000,1.600000,19.800000,1041.200000,61.80,0
8,Delhi,2017,34.200000,0.30,7.20,4.300000,10.30,121.200000,69.200000,76.500000,92.50,0.000000,1.80,4.200000,421.600000,34.500000,21.800000,359.400000,6.00,0
9,Goa,2017,0.000000,0.00,0.00,0.000000,47.00,840.400000,1095.300000,731.200000,546.90,156.900000,0.70,25.000000,3443.400000,0.000000,47.000000,3213.800000,182.60,0
10,Gujarat,2017,0.000000,0.00,0.00,0.000000,0.20,137.700000,613.100000,179.700000,67.20,15.500000,0.00,11.000000,1024.400000,0.000000,0.200000,997.700000,26.60,0
11,Haryana,2017,34.200000,0.30,7.20,4.300000,10.30,121.200000,69.200000,76.500000,92.50,0.000000,1.80,4.200000,421.600000,34.500000,21.800000,359.400000,6.00,0
12,Himachal Pradesh,2017,157.600000,46.30,57.40,88.000000,62.00,123.100000,216.100000,273.100000,103.40,0.300000,6.90,48.000000,1182.200000,204.000000,207.300000,715.700000,55.20,0
13,Jammu & Kashmir,2017,255.500000,106.40,85.00,156.700000,38.50,158.500000,180.700000,161.400000,43.30,0.300000,11.30,81.500000,1278.900000,361.800000,280.100000,543.900000,93.10,0
14,Jharkhand,2017,5.100000,0.10,4.50,6.100000,55.90,116.000000,492.100000,246.000000,134.00,103.400000,2.30,0.200000,1165.800000,5.200000,66.600000,988.200000,105.90,0
15,Karnataka,2017,2.033333,0.00,10.00,17.833333,104.90,356.766667,340.933333,304.133333,257.80,170.633333,12.70,5.266667,1582.966667,2.033333,132.766667,1259.633333,188.60,0
16,Kerala,2017,12.700000,0.30,87.80,52.800000,213.30,579.800000,378.500000,462.600000,435.50,228.000000,152.10,61.400000,2664.900000,13.000000,353.900000,1856.500000,441.50,0
17,Konkan,2017,0.000000,0.00,0.00,0.000000,47.00,840.400000,1095.300000,731.200000,546.90,156.900000,0.70,25.000000,3443.400000,0.000000,47.000000,3213.800000,182.60,3
18,Kutch,2017,0.100000,0.00,0.00,0.000000,0.10,81.800000,368.600000,153.500000,41.80,4.800000,0.00,1.300000,652.100000,0.100000,0.100000,645.800000,6.10,3
19,Lakshadweep,2017,21.300000,0.90,100.20,1.800000,145.70,521.900000,164.200000,206.200000,216.00,137.100000,63.50,160.100000,1738.900000,22.200000,247.800000,1108.300000,360.70,3
20,Madhya Pradesh,2017,4.600000,4.30,1.75,0.100000,9.15,119.500000,323.300000,176.400000,147.70,16.150000,0.55,1.000000,804.550000,8.900000,10.950000,766.900000,17.75,0
21,Maharashtra,2017,0.000000,0.00,0.40,0.800000,18.00,189.200000,280.900000,192.000000,190.10,112.800000,5.00,5.100000,994.400000,0.000000,19.200000,852.300000,122.90,0
22,Matathwada,2017,0.000000,0.00,4.70,0.000000,3.30,182.300000,82.500000,230.400000,146.90,100.400000,2.40,2.700000,755.600000,0.000000,8.100000,642.100000,105.40,3
23,Meghalaya,2017,1.700000,37.80,116.70,310.900000,268.40,485.200000,429.000000,483.100000,345.40,212.100000,10.30,11.000000,2711.700000,39.500000,695.900000,1742.700000,233.50,0
24,Orissa,2017,1.700000,0.00,29.80,8.700000,55.20,209.500000,349.700000,301.700000,192.20,161.100000,30.00,4.800000,1344.500000,1.700000,93.800000,1053.100000,195.90,0
25,Punjab,2017,42.400000,3.00,14.50,12.300000,12.30,110.800000,94.400000,122.200000,62.70,0.000000,5.20,17.700000,497.500000,45.500000,39.100000,390.100000,22.90,0
26,Rajasthan,2017,7.200000,0.15,4.85,2.000000,20.60,85.900000,256.500000,90.200000,33.80,0.000000,0.50,2.600000,504.300000,7.350000,27.450000,466.400000,3.10,0
27,Rayalseema,2017,3.900000,0.00,12.80,8.800000,39.90,88.900000,52.200000,171.600000,194.60,221.100000,33.30,7.400000,834.500000,3.900000,61.500000,507.200000,261.80,3
28,Saurashtra,2017,0.100000,0.00,0.00,0.000000,0.10,81.800000,368.600000,153.500000,41.80,4.800000,0.00,1.300000,652.100000,0.100000,0.100000,645.800000,6.10,3
29,Sikkim,2017,3.000000,5.10,84.60,146.800000,226.80,400.600000,478.600000,777.900000,390.10,166.500000,3.80,1.000000,2684.900000,8.100000,458.200000,2047.300000,171.30,0
30,Tamil Nadu,2017,37.300000,1.10,35.40,17.300000,73.50,47.900000,42.000000,159.400000,165.30,155.500000,141.50,96.800000,973.000000,38.400000,126.100000,414.600000,393.90,0
31,Telangana,2017,0.000000,0.00,8.70,3.200000,22.40,202.200000,143.200000,204.200000,115.30,114.600000,1.90,0.000000,815.700000,0.000000,34.300000,664.900000,116.40,3
32,Tripura,2017,0.800000,11.90,125.30,277.600000,196.70,502.700000,431.500000,543.300000,352.20,287.600000,7.60,68.100000,2805.400000,12.700000,599.700000,1829.800000,363.30,0
33,Uttar Pradesh,2017,15.850000,0.60,6.40,1.700000,19.65,67.950000,254.950000,157.450000,112.95,1.800000,0.00,0.800000,640.100000,16.450000,27.800000,593.250000,2.60,0
34,Uttarakhand,2017,36.600000,13.50,44.50,52.800000,108.20,175.600000,460.900000,349.000000,213.40,2.800000,0.20,18.300000,1476.000000,50.100000,205.600000,1199.000000,21.30,0
35,Vidarbha,2017,0.200000,0.00,6.10,0.000000,7.30,147.800000,252.200000,198.300000,133.30,57.500000,0.30,0.000000,803.000000,0.200000,13.400000,731.500000,57.90,3

In [8]:
database.loc[4,'SUBDIVISION'] = 'West Bengal'
database.loc[4,'correction'] = 0
print(database)
l = list(database.SUBDIVISION)
l = [x.lower() for x in l]
left_over = []
for item in d_state.keys():
    if item not in l:
        left_over.append(item)
print(left_over)
new_data = pd.DataFrame()      
for val in left_over:
    d = database[database.SUBDIVISION == 'Tripura'].copy()
    d.SUBDIVISION = val
    d.correction = 0
    new_data = new_data.append(d).copy()

database = database.append(new_data).copy()
database = database[database.correction == 0]
database.reset_index(drop=True, inplace=True)

          SUBDIVISION  YEAR         JAN     FEB     MAR         APR     MAY  \
0             Andaman  2017  228.700000    5.60   33.00  108.300000  275.80
1      Andhra Pradesh  2017    1.000000    0.00   12.40    8.800000   30.80
2   Arunachal Pradesh  2017    8.200000   86.20  221.80  348.200000  257.10
3               Assam  2017    1.700000   37.80  116.70  310.900000  268.40
4         West Bengal  2017    2.200000    2.55   59.90   86.300000  166.55
5               Bihar  2017    0.700000    0.00   22.80   21.800000   79.70
6          Chandigarh  2017   34.200000    0.30    7.20    4.300000   10.30
7        Chhattisgarh  2017    0.900000    0.70    3.50    0.800000   15.60
8               Delhi  2017   34.200000    0.30    7.20    4.300000   10.30
9                 Goa  2017    0.000000    0.00    0.00    0.000000   47.00
10            Gujarat  2017    0.000000    0.00    0.00    0.000000    0.20
11            Haryana  2017   34.200000    0.30    7.20    4.300000   10.30
12   Himachal Pradesh  2017  157.600000   46.30   57.40   88.000000   62.00
13    Jammu & Kashmir  2017  255.500000  106.40   85.00  156.700000   38.50
14          Jharkhand  2017    5.100000    0.10    4.50    6.100000   55.90
15          Karnataka  2017    2.033333    0.00   10.00   17.833333  104.90
16             Kerala  2017   12.700000    0.30   87.80   52.800000  213.30
17             Konkan  2017    0.000000    0.00    0.00    0.000000   47.00
18              Kutch  2017    0.100000    0.00    0.00    0.000000    0.10
19        Lakshadweep  2017   21.300000    0.90  100.20    1.800000  145.70
20     Madhya Pradesh  2017    4.600000    4.30    1.75    0.100000    9.15
21        Maharashtra  2017    0.000000    0.00    0.40    0.800000   18.00
22         Matathwada  2017    0.000000    0.00    4.70    0.000000    3.30
23          Meghalaya  2017    1.700000   37.80  116.70  310.900000  268.40
24             Orissa  2017    1.700000    0.00   29.80    8.700000   55.20
25             Punjab  2017   42.400000    3.00   14.50   12.300000   12.30
26          Rajasthan  2017    7.200000    0.15    4.85    2.000000   20.60
27         Rayalseema  2017    3.900000    0.00   12.80    8.800000   39.90
28         Saurashtra  2017    0.100000    0.00    0.00    0.000000    0.10
29             Sikkim  2017    3.000000    5.10   84.60  146.800000  226.80
30         Tamil Nadu  2017   37.300000    1.10   35.40   17.300000   73.50
31          Telangana  2017    0.000000    0.00    8.70    3.200000   22.40
32            Tripura  2017    0.800000   11.90  125.30  277.600000  196.70
33      Uttar Pradesh  2017   15.850000    0.60    6.40    1.700000   19.65
34        Uttarakhand  2017   36.600000   13.50   44.50   52.800000  108.20
35           Vidarbha  2017    0.200000    0.00    6.10    0.000000    7.30

           JUN          JUL         AUG     SEP         OCT     NOV  \
0   349.100000   389.400000  414.700000  372.80  263.000000  205.90
1   149.600000   153.200000  224.200000  141.80  123.000000   46.70
2   370.800000   437.800000  456.400000  318.60  227.100000    9.90
3   485.200000   429.000000  483.100000  345.40  212.100000   10.30
4   297.150000   483.950000  521.200000  290.75  195.850000   12.85
5    84.600000   379.900000  342.800000  129.60   50.100000    0.00
6   121.200000    69.200000   76.500000   92.50    0.000000    1.80
7   184.800000   378.300000  300.400000  177.70   61.600000    0.20
8   121.200000    69.200000   76.500000   92.50    0.000000    1.80
9   840.400000  1095.300000  731.200000  546.90  156.900000    0.70
10  137.700000   613.100000  179.700000   67.20   15.500000    0.00
11  121.200000    69.200000   76.500000   92.50    0.000000    1.80
12  123.100000   216.100000  273.100000  103.40    0.300000    6.90
13  158.500000   180.700000  161.400000   43.30    0.300000   11.30
14  116.000000   492.100000  246.000000  134.00  103.400000    2.30
15  356.766667   340.933333  304.133333  257.80  170.633333   12.70
16  579.800000   378.500000  462.600000  435.50  228.000000  152.10
17  840.400000  1095.300000  731.200000  546.90  156.900000    0.70
18   81.800000   368.600000  153.500000   41.80    4.800000    0.00
19  521.900000   164.200000  206.200000  216.00  137.100000   63.50
20  119.500000   323.300000  176.400000  147.70   16.150000    0.55
21  189.200000   280.900000  192.000000  190.10  112.800000    5.00
22  182.300000    82.500000  230.400000  146.90  100.400000    2.40
23  485.200000   429.000000  483.100000  345.40  212.100000   10.30
24  209.500000   349.700000  301.700000  192.20  161.100000   30.00
25  110.800000    94.400000  122.200000   62.70    0.000000    5.20
26   85.900000   256.500000   90.200000   33.80    0.000000    0.50
27   88.900000    52.200000  171.600000  194.60  221.100000   33.30
28   81.800000   368.600000  153.500000   41.80    4.800000    0.00
29  400.600000   478.600000  777.900000  390.10  166.500000    3.80
30   47.900000    42.000000  159.400000  165.30  155.500000  141.50
31  202.200000   143.200000  204.200000  115.30  114.600000    1.90
32  502.700000   431.500000  543.300000  352.20  287.600000    7.60
33   67.950000   254.950000  157.450000  112.95    1.800000    0.00
34  175.600000   460.900000  349.000000  213.40    2.800000    0.20
35  147.800000   252.200000  198.300000  133.30   57.500000    0.30

           DEC       ANNUAL          JF         MAM         JJAS     OND  \
0   243.700000  2890.000000  234.200000  417.100000  1526.000000  712.60
1     1.200000   892.700000    1.000000   52.000000   668.800000  170.90
2     3.400000  2745.300000   94.400000  827.000000  1583.500000  240.30
3    11.000000  2711.700000   39.500000  695.900000  1742.700000  233.50
4     7.500000  2126.750000    4.750000  312.750000  1593.100000  216.20
5     0.000000  1112.000000    0.700000  124.300000   936.800000   50.20
6     4.200000   421.600000   34.500000   21.800000   359.400000    6.00
7     0.000000  1124.400000    1.600000   19.800000  1041.200000   61.80
8     4.200000   421.600000   34.500000   21.800000   359.400000    6.00
9    25.000000  3443.400000    0.000000   47.000000  3213.800000  182.60
10   11.000000  1024.400000    0.000000    0.200000   997.700000   26.60
11    4.200000   421.600000   34.500000   21.800000   359.400000    6.00
12   48.000000  1182.200000  204.000000  207.300000   715.700000   55.20
13   81.500000  1278.900000  361.800000  280.100000   543.900000   93.10
14    0.200000  1165.800000    5.200000   66.600000   988.200000  105.90
15    5.266667  1582.966667    2.033333  132.766667  1259.633333  188.60
16   61.400000  2664.900000   13.000000  353.900000  1856.500000  441.50
17   25.000000  3443.400000    0.000000   47.000000  3213.800000  182.60
18    1.300000   652.100000    0.100000    0.100000   645.800000    6.10
19  160.100000  1738.900000   22.200000  247.800000  1108.300000  360.70
20    1.000000   804.550000    8.900000   10.950000   766.900000   17.75
21    5.100000   994.400000    0.000000   19.200000   852.300000  122.90
22    2.700000   755.600000    0.000000    8.100000   642.100000  105.40
23   11.000000  2711.700000   39.500000  695.900000  1742.700000  233.50
24    4.800000  1344.500000    1.700000   93.800000  1053.100000  195.90
25   17.700000   497.500000   45.500000   39.100000   390.100000   22.90
26    2.600000   504.300000    7.350000   27.450000   466.400000    3.10
27    7.400000   834.500000    3.900000   61.500000   507.200000  261.80
28    1.300000   652.100000    0.100000    0.100000   645.800000    6.10
29    1.000000  2684.900000    8.100000  458.200000  2047.300000  171.30
30   96.800000   973.000000   38.400000  126.100000   414.600000  393.90
31    0.000000   815.700000    0.000000   34.300000   664.900000  116.40
32   68.100000  2805.400000   12.700000  599.700000  1829.800000  363.30
33    0.800000   640.100000   16.450000   27.800000   593.250000    2.60
34   18.300000  1476.000000   50.100000  205.600000  1199.000000   21.30
35    0.000000   803.000000    0.200000   13.400000   731.500000   57.90

    correction
0            3
1            0
2            0
3            0
4            0
5            0
6            3
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           3
18           3
19           3
20           0
21           0
22           3
23           0
24           0
25           0
26           0
27           3
28           3
29           0
30           0
31           3
32           0
33           0
34           0
35           3
['manipur', 'mizoram', 'nagaland']

In [9]:
database = database.iloc[:,:-1]
database
database.to_csv('2017_filtered_records.csv')

In [10]:
l = list(database.SUBDIVISION)
l = [x.lower() for x in l]
left_over = []
for item in d_state.keys():
    if item not in l:
        print(item)