In [1]:
import pandas as pd

d_state = {'rajasthan': 0, 'madhya pradesh': 1, 'maharashtra': 2, 'jammu & kashmir': 3, 'uttar pradesh': 4, 'andhra pradesh': 5, 'gujarat': 6, 'karnataka': 7, 'orissa': 8, 'chhattisgarh': 9, 'tamil nadu': 10, 'bihar': 11, 'arunachal pradesh': 12, 'assam': 13, 'jharkhand': 14, 'west bengal': 15, 'himachal pradesh': 16, 'uttarakhand': 17, 'punjab': 18, 'haryana': 19, 'kerala': 20, 'manipur': 21, 'meghalaya': 22, 'mizoram': 23, 'nagaland': 24, 'tripura': 25, 'sikkim': 26, 'goa': 27, 'delhi': 28}

database = pd.read_csv('2017_filtered_records.csv')
database = database.iloc[:,1:]

# convert to lower scale
def convert_to_lower(val) :
    return val.lower()

database.SUBDIVISION = database.SUBDIVISION.apply(convert_to_lower).copy()
database

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF
0,andhra pradesh,2017,1.000000,0.00,12.40,8.800000,30.80,149.600000,153.200000,224.200000,141.80,123.000000,46.70,1.200000,892.700000,1.000000
1,arunachal pradesh,2017,8.200000,86.20,221.80,348.200000,257.10,370.800000,437.800000,456.400000,318.60,227.100000,9.90,3.400000,2745.300000,94.400000
2,assam,2017,1.700000,37.80,116.70,310.900000,268.40,485.200000,429.000000,483.100000,345.40,212.100000,10.30,11.000000,2711.700000,39.500000
3,west bengal,2017,2.200000,2.55,59.90,86.300000,166.55,297.150000,483.950000,521.200000,290.75,195.850000,12.85,7.500000,2126.750000,4.750000
4,bihar,2017,0.700000,0.00,22.80,21.800000,79.70,84.600000,379.900000,342.800000,129.60,50.100000,0.00,0.000000,1112.000000,0.700000
5,chhattisgarh,2017,0.900000,0.70,3.50,0.800000,15.60,184.800000,378.300000,300.400000,177.70,61.600000,0.20,0.000000,1124.400000,1.600000
6,delhi,2017,34.200000,0.30,7.20,4.300000,10.30,121.200000,69.200000,76.500000,92.50,0.000000,1.80,4.200000,421.600000,34.500000
7,goa,2017,0.000000,0.00,0.00,0.000000,47.00,840.400000,1095.300000,731.200000,546.90,156.900000,0.70,25.000000,3443.400000,0.000000
8,gujarat,2017,0.000000,0.00,0.00,0.000000,0.20,137.700000,613.100000,179.700000,67.20,15.500000,0.00,11.000000,1024.400000,0.000000
9,haryana,2017,34.200000,0.30,7.20,4.300000,10.30,121.200000,69.200000,76.500000,92.50,0.000000,1.80,4.200000,421.600000,34.500000
10,himachal pradesh,2017,157.600000,46.30,57.40,88.000000,62.00,123.100000,216.100000,273.100000,103.40,0.300000,6.90,48.000000,1182.200000,204.000000
11,jammu & kashmir,2017,255.500000,106.40,85.00,156.700000,38.50,158.500000,180.700000,161.400000,43.30,0.300000,11.30,81.500000,1278.900000,361.800000
12,jharkhand,2017,5.100000,0.10,4.50,6.100000,55.90,116.000000,492.100000,246.000000,134.00,103.400000,2.30,0.200000,1165.800000,5.200000
13,karnataka,2017,2.033333,0.00,10.00,17.833333,104.90,356.766667,340.933333,304.133333,257.80,170.633333,12.70,5.266667,1582.966667,2.033333
14,kerala,2017,12.700000,0.30,87.80,52.800000,213.30,579.800000,378.500000,462.600000,435.50,228.000000,152.10,61.400000,2664.900000,13.000000
15,madhya pradesh,2017,4.600000,4.30,1.75,0.100000,9.15,119.500000,323.300000,176.400000,147.70,16.150000,0.55,1.000000,804.550000,8.900000
16,maharashtra,2017,0.000000,0.00,0.40,0.800000,18.00,189.200000,280.900000,192.000000,190.10,112.800000,5.00,5.100000,994.400000,0.000000
17,meghalaya,2017,1.700000,37.80,116.70,310.900000,268.40,485.200000,429.000000,483.100000,345.40,212.100000,10.30,11.000000,2711.700000,39.500000
18,orissa,2017,1.700000,0.00,29.80,8.700000,55.20,209.500000,349.700000,301.700000,192.20,161.100000,30.00,4.800000,1344.500000,1.700000
19,punjab,2017,42.400000,3.00,14.50,12.300000,12.30,110.800000,94.400000,122.200000,62.70,0.000000,5.20,17.700000,497.500000,45.500000
20,rajasthan,2017,7.200000,0.15,4.85,2.000000,20.60,85.900000,256.500000,90.200000,33.80,0.000000,0.50,2.600000,504.300000,7.350000
21,sikkim,2017,3.000000,5.10,84.60,146.800000,226.80,400.600000,478.600000,777.900000,390.10,166.500000,3.80,1.000000,2684.900000,8.100000
22,tamil nadu,2017,37.300000,1.10,35.40,17.300000,73.50,47.900000,42.000000,159.400000,165.30,155.500000,141.50,96.800000,973.000000,38.400000
23,tripura,2017,0.800000,11.90,125.30,277.600000,196.70,502.700000,431.500000,543.300000,352.20,287.600000,7.60,68.100000,2805.400000,12.700000
24,uttar pradesh,2017,15.850000,0.60,6.40,1.700000,19.65,67.950000,254.950000,157.450000,112.95,1.800000,0.00,0.800000,640.100000,16.450000
25,uttarakhand,2017,36.600000,13.50,44.50,52.800000,108.20,175.600000,460.900000,349.000000,213.40,2.800000,0.20,18.300000,1476.000000,50.100000
26,manipur,2017,0.800000,11.90,125.30,277.600000,196.70,502.700000,431.500000,543.300000,352.20,287.600000,7.60,68.100000,2805.400000,12.700000
27,mizoram,2017,0.800000,11.90,125.30,277.600000,196.70,502.700000,431.500000,543.300000,352.20,287.600000,7.60,68.100000,2805.400000,12.700000
28,nagaland,2017,0.800000,11.90,125.30,277.600000,196.70,502.700000,431.500000,543.300000,352.20,287.600000,7.60,68.100000,2805.400000,12.700000

In [10]:
def get_value_month(state,month) :
    d = database[database.SUBDIVISION == state]
    return d.iloc[:,month]

def get_max_value_month(month) :
    return database.iloc[:,month].max()

def convert_to_color(state,month):
    month = month + 1
    max_v = get_max_value_month(month)
    div = 10
    element = max_v // div
    val = int(get_value_month(state,month))
    c = val // element
    color = (int(250 - (200 // div * c)), 0, 0)
    return color

def create_color_list(d_state,month):
    color_list = []
    for x in d_state.keys():
        color_list.append(convert_to_color(x,month))
    return color_list

print(create_color_list(d_state,1))

[(250, 0, 0), (250, 0, 0), (250, 0, 0), (50, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (230, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (130, 0, 0), (230, 0, 0), (230, 0, 0), (230, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (250, 0, 0), (230, 0, 0)]

In [65]:
def create_color_rbg_2_hex(div):
    l = []
    for c in range(div):
        r,g,b = (int(250 - (200 // div * c)), 0, 0)
        l.append("#{:02x}{:02x}{:02x}".format(r,g,b))
    return l
print(create_color_rbg_2_hex(10))

['#fa0000', '#e60000', '#d20000', '#be0000', '#aa0000', '#960000', '#820000', '#6e0000', '#5a0000', '#460000']

In [78]:
import tkinter as tk
import indian_map_image_clor as in_map

window = tk.Tk()

w = 1000
h = 750

month_selected = 1
map_drawn = ""

map_IN = None

def create_color_rbg_2_hex(div):
    l = []
    for c in range(div):
        b,g,r = (int(250 - (200 // div * c)), 0, 0)
        l.append("#{:02x}{:02x}{:02x}".format(r,g,b))
    return l

def draw_map_given(month) :
    return in_map.create_map_india_with_state(create_color_list(d_state,month))

def select_month_btns(event):
    global month_selected,map_drawn,map_IN,parent_canvas,img
    case = event.x // 50 + 1
    if event.y > 50 :
        case = case + 6
    print(case)
    if month_selected == case :
        print("Same Selection")
    else :
        canvas_month_sel.itemconfig('month_btn' + str(month_selected), fill="#dddddd", outline="")
        month_selected = case
        canvas_month_sel.itemconfig('month_btn' + str(month_selected), fill="#666666", outline="")
        map_drawn = draw_map_given(case)
        img = tk.PhotoImage(file=map_drawn, master=parent_canvas)
        parent_canvas.itemconfig('map_IN' ,image=img)
        update_legends(get_max_value_month(case+1))

def update_legends(max_v) :
    element_val = max_v / 10
    for x in range(10):
        canvas_legends.itemconfig( 'legend_txt'+str(x), text=" value less Than " + str(round(((x + 1) * element_val),2)))
        
# map resolution is constant 662 x 750
parent_canvas = tk.Canvas(window, width=w, height=h)

canvas_month_sel = tk.Canvas(parent_canvas, width=310, height=200)
for x in range(6):
    btn1 = canvas_month_sel.create_oval( 10 + x * 50, 10, 50 + x * 50, 50, fill="#dddddd", outline="", tags="month_btn" + str(x + 1))
    txt1 = canvas_month_sel.create_text( 30 + x * 50, 28, text=(x + 1), font='Time 20 bold', fill="#ffffff", tags="month_txt" + str(x + 1))
    canvas_month_sel.tag_bind(btn1, '<Button-1>', select_month_btns)
    canvas_month_sel.tag_bind(txt1, '<Button-1>', select_month_btns)
    btn2 = canvas_month_sel.create_oval( 10 + x * 50, 60, 50 + x * 50, 100, fill="#dddddd", outline="", tags="month_btn" + str(x + 7))
    txt2 = canvas_month_sel.create_text( 30 + x * 50, 78, text=(x + 7), font='Time 20 bold', fill="#ffffff", tags="month_txt" + str(x + 7))
    canvas_month_sel.tag_bind(btn2, '<Button-1>', select_month_btns)
    canvas_month_sel.tag_bind(txt2, '<Button-1>', select_month_btns)
else :
    canvas_month_sel.itemconfig('month_btn1', fill="#666666", outline="")
    map_drawn = draw_map_given(1)
parent_canvas.create_window(675,100, anchor=tk.NW, window=canvas_month_sel)

canvas_legends = tk.Canvas(parent_canvas, width=200, height=300)
parent_canvas.create_window(450,440, anchor=tk.NW, window=canvas_legends)
legend_color = create_color_rbg_2_hex(10)
element_val = get_max_value_month(2)/10
print(get_max_value_month(2))
for x in range(10):
    canvas_legends.create_line(10, 20 + x * 30 ,30, 20 + x * 30, width=20, fill=legend_color[x])
    canvas_legends.create_text(110, 20 + x * 30, text= " value less Than " + str(round(((x + 1) * element_val),2)), font='Time 14', fill="#666666", tags="legend_txt"+str(x) )

img = tk.PhotoImage(file=map_drawn, master=parent_canvas)
map_IN = parent_canvas.create_image(0, 0, image=img, anchor = tk.NW, tags="map_IN")
# text = tk.Entry(parent_canvas, width=5)
# parent_canvas.create_window((700,100), window=text, anchor='nw')
8
parent_canvas.pack()
tk.mainloop()

750 662
[255 255 255]
255.5
2
750 662
[255 255 255]
9
750 662
[255 255 255]
10
750 662
[255 255 255]
11
750 662
[255 255 255]
12
750 662
[255 255 255]
6
750 662
[255 255 255]
7
750 662
[255 255 255]
1
750 662
[255 255 255]
3
750 662
[255 255 255]
10
750 662
[255 255 255]
5
750 662
[255 255 255]
6
750 662
[255 255 255]